body {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgb(219, 219, 219);
}

#main {
    max-width: 150ch;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

#update form {
    margin-top: 50px;
}
